* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Amazon Ember', Arial, sans-serif;
}

#number input {
  user-select: none;
}

.credit-card span {
  position: absolute;

  font-family: 'OCR A Extended', sans-serif;

  font-weight: 700;
  color: silver;
}

.card-name {
  text-transform: uppercase;

  left: 50px;
  top: 360px;
}

.cdate {
  left: 280px;
  top: 420px;
}

.credit-card-container {
  display: flex;
  flex-flow: column wrap;

  width: 50%;

  gap: 1rem;

  margin-left: 1.5rem;
}
.credit-card-container h2 {
  background: linear-gradient(to bottom, #f7f7f7, #eaeaea);

  padding: 1rem 1rem;

  font-size: 1rem;

  border: 0;
  border-radius: 0.5rem 0 0.5rem 0;

  box-shadow: 0 0 14px 0 rgb(15 17 17 / 50%);
}

.credit-card-container label {
  width: 7.75rem;
  font-size: 0.875rem;
  font-weight: 700;
}

.credit-card-container input {
  outline-style: hidden;
  outline-color: rgba(0, 0, 0, 0.4);

  height: 1.9375rem;
}

.acceptable-cards {
  display: flex;
}

.infos-container {
  display: flex;
  flex-flow: column wrap;

  gap: 1rem;

  width: 25rem;
}

.number {
  display: flex;

  gap: 0.5rem;
}

.credit-card-name {
  display: flex;

  gap: 0.5rem;
}

.expiration-date {
  display: flex;

  gap: 0.5rem;
}

.expiration-date input {
  width: 10.8125rem;
}

.span-row .flags-row {
  display: flex;

  flex-flow: column wrap;
  gap: 3rem;

  align-items: center;
}

.flags-row p {
  font-weight: 600;
}

.flags-row img {
  width: 184px;
}

.flag {
  position: absolute;
  visibility: hidden;

  top: 390px;
  left: 60px;
}

.visa {
  visibility: visible;
  height: 66px;
  width: 72px;
}

.mastercard {
  visibility: visible;

  border: 0;
  border-radius: 5%;

  height: 45px;
  width: 77px;
}

.amex {
  visibility: visible;
  height: 66px;
  width: 72px;
}
